.card-grid {
  background-color: coral;
  height: 20rem;
  border-radius: 1rem;
}

.card-grid-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.card-grid-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 50%;
}

.card-count {
  font-size: 5rem;
  color: white;
}

.sidebar-wrapper {
  margin: 0px;
  padding: 0px;
}
.sidebar-wrapper > ul {
  background-color: black;
  list-style: none;
}

.sidebar-wrapper > ul > li {
  color: white;
  padding: 0.6rem;
  border: 1px solid white;
}
.sidebar-wrapper > ul > li > a {
  text-decoration: none !important;
  color: white;
}
